<div class="container p-3">
  <h1 class="mb-4">New Restaurant</h1>

  <%= form_with model: @restaurant do |form| %>
    <div class="mb-3">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :address, class: "form-label" %>
      <%= form.text_field :address, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :category, class: "form-label" %>
      <% @categories = %w[chinese italian japanese french belgian] %>
      <%= form.select :category, @categories, {}, class: "form-select" %>
    </div>

    <%= form.submit "Create", class: "btn btn-primary" %>
  <% end %>
</div>
